<% if (success_msg.length > 0) { %>
  <div class="bg-green-500 text-white p-3 rounded mb-4">
    <%= success_msg %>
  </div>
<% } %>

<% if (error_msg.length > 0) { %>
  <div class="bg-red-500 text-white p-3 rounded mb-4">
    <%= error_msg %>
  </div>
<% } %>